---
import Header from "../components/Sections/Header/index.svelte"
import Hero from "../components/Sections/Hero/index.svelte"
import About from "../components/Sections/About/index.svelte"
import Services from "../components/Sections/Services/index.svelte"
import Contact from "../components/Sections/Contact/index.svelte"
import Footer from "../components/Sections/Footer/index.svelte"

let title = 'DevXpress';
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{title}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/style/global.css">
</head>
<body>
  <Header client:load />
  <Hero />
  <About />
  <Services />
  <Contact />
  <Footer />
</body>
</html>
